* {
   outline: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}
#content {
  height:300px;
  overflow: hidden;
  cursor: pointer;
}
#content img {
  padding-bottom: 7px;
}


#wrapper {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding-top: 15px;
}

#places-search {
  padding-bottom: 15px
}

#places-list {
  max-height: calc(100vh - 85px);
  overflow: hidden;
  background-color: #F5F5F5; 
}

#logo {

}

/* Bootstrap overrides */

.list-group-item.select {
  background-color: #F5F5F5;
}

.non-reactive {
  pointer-events: none;
}

.reactive {
  pointer-events: all;
}